* {
    box-sizing: border-box;
}

body {
    font-size: 16px; 
    font-family: Tahoma, Arial;
    margin: 0; 

nav.menu {
    width: 100%;
    background-color: #5d68a6;
    height: 44px;
    padding: 0 40px;
}

nav.menu ul,
nav.menu ul li {
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline-block;
}

nav.menu ul li a {
    display: block;
    padding: 0 20px;
    line-height: 44px;
    font-size: 1.4em;
    text-decoration: none;
    color: #fff;
    margin: 0;
}

nav.menu ul li a:hover {
    background-color: white;
    color: #4d5791;
}

header.hero {
    height: 350px;
    background-color: #b4c6f0;
    background-image: url('/bg.png');
    background-size: 400px;
    background-repeat: no-repeat;
    background-position: center bottom;
    padding-top: 40px;
}

header.hero h1,
header.hero h2 {
    text-align: center;
    margin: 0;
}

header.hero h1 {
    color: #fff;
    font-size: 4.2em;
    margin-bottom: 20px;
}

header.hero h2 {
    color: #4d5791;
}

section.container {
    padding: 40px;
    width: 100%;
}

article.page-area {
    max-width: 768px;
    display: inline-block;
}

footer.bottom {
    height: 50px;
    background-color: #b4c6f0;
    padding: 10px; 
}

.center {
    text-align: center;
}

section.container div.text-box {
    display: inline-block;
    width: 100%;
    max-width: 340px;
    text-align: justify;
    margin: 20px;
}

.skip-link {
    position: absolute;
    top: 45px;
    left: 1px; 
    display: inline-block;
    padding: 10px;
    background-color: #9da6d7;
    color: #fff;
    text-decoration: none;
    opacity: 0.1;
    transition: opacity 0.3s ease;
    border: none;
    cursor: pointer;
}

.skip-link:hover {
    opacity: 1;
}

.skip-link:focus {
    position: static;
    left: 0;
    top: 0;
    opacity: 1;
}


.skip-link:focus {
    outline: 2px solid #f1efef; 
}
.menu ul {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.3s ease-out;
}

.menu:hover ul {
    max-height: 200px; /* Adjust the height as needed */
}

.menu ul li {
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 0.5s, transform 0.5s;
}

.menu:hover ul li {
    opacity: 1;
    transform: translateY(0);
}

@media screen and (min-width: 768px) {
    section.container div.text-box {
        margin: 10px;
    }
}
}
